.btn-circle {
  position: relative;
  display: inline-flex;
  width: auto;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--alpha);
  border-radius: 30px;
  padding: 10px 25px;
  min-width: 150px;
  color: var(--white);
  text-decoration: none;
  overflow: hidden;
  // transition: all 0.4s ease-in-out;
  transition:
    border-color 0.4s ease,
    box-shadow 0.4s ease,
    background-color 0.4s ease-in-out;
  letter-spacing: 0.5px;
  margin: 15px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 50%;
    height: 100%;
    transform: skewX(-20deg);
  }

  &:hover {
    transition: all 0.5s ease-in-out !important;
    // border-color: var(--white);
    // box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); // Very faint glow

    &::before {
      left: 150%;
      transition: left 1s ease-in-out;
    }
  }

  &.dark {
    color: var(--white);

    &::before {
      content: "";
      background: linear-gradient(
        90deg,
        transparent,
        rgba(#c5283d, 0.2),
        // Dimmer shine for subtlety
        transparent
      );
    }

    &:hover {
      border-color: var(--white);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); // Very faint glow
    }
  }
  &.light {
    background-color: var(--white);
    border: 1px solid var(--alpha);
    color: var(--alpha);

    &::before {
      content: "";
      background: linear-gradient(
        90deg,
        transparent,
        rgba(#f3a712, 0.2),
        // Dimmer shine for subtlety
        transparent
      );
    }

    &:hover {
      background-color: var(--alpha);
      border: 1px solid var(--white) !important;
      color: var(--white);
      // border-color: var(--beta);
      box-shadow: 0 0 15px rgba(228, 18, 18, 0.2); // Very faint glow
    }
  }

  &.alpha {
    // background-color: var(--alpha);
    border: 1px solid var(--white);
    color: var(--white);

    &::before {
      content: "";
      background: linear-gradient(
        90deg,
        transparent,
        rgba(#f3a712, 0.2),
        // Dimmer shine for subtlety
        transparent
      );
    }

    &:hover {
      background-color: var(--white);
      border: 1px solid var(--alpha) !important;
      color: var(--alpha);
      // border-color: var(--beta);
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.2); // Very faint glow
    }
  }
}
