.btn-circle {
  background-color: none;
  border: 1px solid var(--primary);
  border-radius: 30px;
  padding: 10px 25px;
  max-width: fit-content;
  min-width: 200px;
  text-align: center;
  color: var(--primary);
  text-decoration: none !important;
}
