:root {
  // Color Variables
  --white: #ffffff;
  --primary: #a7233a;
  --secondary: #666666;
  --disabled: #e6e6e6;
  --primary-dark: #001220;
  // Typography
  --font-family-primary: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;
  --font-family-serif: Georgia, "Times New Roman", Times, serif;
  --font-family-sans: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", sans-serif;

  // Font Sizes
  --font-size-h1: 3.5rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1rem;
  --font-size-body: 1rem;
  --font-size-body-large: 1.25rem;
  --font-size-small: 0.875rem;
}

body {
  font-family: var(--font-family-primary);
  color: var(--color-text-primary);
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  font-size: var(--font-size-body);
}

// Heading Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-primary);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 400;
}

h4 {
  font-size: var(--font-size-h4);
  font-weight: 600;
}

h5 {
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6);
}

p {
  font-size: 1rem;
}

.lead {
  font-size: 1.5rem;
}
